ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

.menu-bar {
  padding: 25px 0;
}

.menu {
  display: flex;

@include mobile {
   display: block;
  }

  &__item {
    margin-left: 40px;
    position: relative;

    @include mobile {
      margin-left: 5px;
    }

    a {
      text-transform: uppercase;
      font-size: 14px;
      color: $color;
      font-weight: 700;

      &:hover {
        text-decoration: none;
        color: $hover-color;
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 15px;
      border-bottom: 1px solid transparent;
      top: 50%;
      left: -25px;
    }

    &:hover::before {
      border-color: black
    }

    &:last-child::before {
      border: none;
    }
  }


}

.search-input {
  //display: none;
  //width: 100px;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  font-style: italic;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

.fa-search {
  cursor: pointer;
}

.search-block {
  display: none;
  position: absolute;
  top: -100%;
  left: 100%;


  @include desktop {
    z-index: 10;
    top: 0;
    left: 45%;
  }
}

.fa-times {
  margin-left: 10px;
  cursor: pointer;
}

.menu__icon {
  display: none;
  margin-left: 100%;
}

