$color: #777777;
$hover-color: #000;

body, html {
  font-family: 'Roboto', sans-serif;
}

@import "mixins";
@import "header";
@import "main-page";
@import "portfolio";
@import "footer";
@import "about";
@import "story";
@import "team";
@import "projects";
@import "details";
@import "blog";
@import "post";
@import "article";
@import "info";
@import "map";
@import "value";






